<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # تحويل أي طلب يدخل للمجلد الرئيسي تلقائياً إلى داخل مجلد public
    RewriteRule ^$ public/ [L]
    
    # إذا كان الملف أو المجلد غير موجود داخل المجلد الرئيسي، مرره إلى public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>